.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore code
## miscellaneous code
code/x_miscellaneous_code.R

# tentative analysis
code/tentative_analysis

# ignore data
## Virginia geodatabase
data/VA_data_mining_20240104.gdb